.earthquakes-map {
    width: 100%;
    height: 500px;
    object-fit: cover;

    position: relative;
    inset: 0; 
    display: flex;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(12px);
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease, transform 1s ease;
}

.earthquakes-map[data-hidden="true"] {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}


.earthquakes-map .overlay-content {
  width: 100%;
  border-radius: 1rem;
  background-image: url("../../public/images/earth.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--color-primary)
}

.overlay-text{
  font-size: 16px;
  margin-top: 30%;
  font-weight: 600;
}

.earth-emoji {
  animation: earthEmojiBounce 1.5s infinite;
}
@keyframes earthEmojiBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.earthquake-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-earthquake-marker); 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { 
    transform: scale(1); 
    opacity: 0.2; 
    box-shadow: 0 0 6px rgba(45, 106, 79, 0.3);
  }
  50% { 
    transform: scale(2rem); 
    opacity: 0.5; 
    box-shadow: 0 0 20px rgba(45, 106, 79, 0.6); 
  }
  100% { 
    transform: scale(1); 
    opacity: 0.2; 
    box-shadow: 0 0 6px rgba(45, 106, 79, 0.3); 
  }
}


