.loader-overlay {
  position: absolute;
  inset: 0;             
  display: flex;
  justify-content: center;
  z-index: 2;
  padding-top: 30%;
  pointer-events: none; /* lets clicks pass through */
  background-color: rgb(205, 217, 217, 0.7);
  height: 115vh;
}

.pulsing-dot {
  border-radius: 50%;    /* circle */
  /* opacity: 0.75; */
  background-image: url('../../public/images/globe.png');
  background-size: cover;
  background-position: center;
  /* z-index: 3; */
  animation: pulse 3.2s ease-in-out infinite; 
  /* rotate 10s linear infinite; */
  /* background-color: var(--color-primary); */

}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.8);
    opacity: 0.85;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}

