.instructions {
    width: 150px;
    /* height: 100px; */
    position: absolute;
    right: 10px;
    top: 643px;
    /* background-color: rgb(229, 222, 222); */
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    color: rgb(206, 193, 189);
}


.instructions-indicator{
  display: inline-block; /* needed for transform */
  transform: scaleX(-1);
  color: rgb(236, 227, 224);
  padding-top: 15px;
    animation: pulseGlow 1.5s infinite alternate;
}



@keyframes pulseGlow {
  0% {
    text-shadow: 0 0 4px #cfd5df, 0 0 8px #3b82f6;
  }
  50% {
    text-shadow: 0 0 8px #d5dbe5, 0 0 16px #3b82f6;
  }
  100% {
    text-shadow: 0 0 12px #eaedf1, 0 0 24px #3b82f6;
  }
}
